@font-face{
  font-family: Sponge Bob Ru Uk En ;
  src: url('assets/font/1_Sponge_Bob_Ru_Uk_En_by_Ruslan_Chuchko.otf');
}
body{
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  font-family: Sponge Bob Ru Uk En;
}

