<div>
  <p>
    Приветствуем в Delivery Crab - единственном сервисе по доставке еды в Бикини Боттом!<br>
    Перейдём сразу к делу - вот наши самые популярные рестораны, в которых вы можете отведать
    сочные крабсбургеры или наиотвратительнейшую гниль:<br>
  </p>
  <div class="container">
    <a class="nav-link text-dark" [routerLink]="['/krustycrub']">
      <img src="assets/icons/icons_crusty_crabs.svg" alt="Иконка Красти Крабса">Красти Краб
    </a>
    <a class="nav-link text-dark" [routerLink]="['/chumbucket']">
      <img src="assets/icons/icons_chum_bucket.svg" alt="Иконка Чам Бакета">Чам Бакет
    </a>
  </div>
  <p>
    Вкладка "Рестораны" предоставит вам возможность ознакомиться и с другими заведениями нашего городка<br>
    Для того чтобы полноценно пользоваться функционалом сайта, необходимо зарегистрироваться.<br>
    "Войти" и "Регистрация" помогут вам сделать это<br>
    Если вы владелец какого-то ресторана и хотите работать с нами, то вот способы связаться с нами:<br>
    +9(4927)78-45<br>
    eugene.h.krabs@bottom.com<br>
    Пожелания, предложения и жалобы отправляйте на этот почтовый адрес:krabs.spam@bottom.com

  </p>
</div>
