<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/icons/icons_bob.svg" alt=""> DeliveryCrab</a>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"><img src="assets/icons/login_icon.svg" alt=""> Войти</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']"><img src="assets/icons/register_icon.svg" alt=""> Регистрация</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
