*{
  font-size: 40px;
}

.navbar-brand{
  transition: transform .3s;
  color:black;
  text-decoration: none;
}

.navbar-brand:hover{
  transform: scale(1.1);
}
li{
  transition: transform .3s;
}
li:hover{
  transform: scale(1.1);
}
button{
  transition: transform .2s;
}
button:hover{
  transform: scale(1.1);
}
button:active{
  transform: scale(0.9);
}
button{
  background-image: url("/assets/i.jpg");
  border: none;
  color: white;
  border-radius: 20px;
  text-align: center;
}
p{
  margin-right: 10px;
}
