<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/icons/icons_bob.svg" alt=""> DeliveryCrab</a>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow" *ngIf="userService.isAuthorization">
          <ng-template [ngIf]="userService.log_user.login === 'admin'" [ngIfElse]="user">
            <li class="nav-item" [routerLinkActive]="['link-actice']">
              <a class="nav-link text-dark" [routerLink]="['/orders']">Заказы</a>
            </li>
          </ng-template>
          <li class="nav-item">
            <button class="exit" type="submit" (click)="exit()">Выход</button>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow" *ngIf="!userService.isAuthorization">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/restaurants']">Рестораны</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/login']"><img src="assets/icons/login_icon.svg" alt=""> Войти</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/register']"><img src="assets/icons/register_icon.svg" alt=""> Регистрация</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<ng-template #user>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/restaurants']">Рестораны</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/basket']">Корзина</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/account']">Личный кабинет</a>
  </li>
</ng-template>
