<div class="register_container">
  <form>
    <div class="mb-3">
      <label for="exampleInputFirstName" class="form-label">Имя</label>
      <input type="text" [(ngModel)]="user.firstname" name="firstname" class="form-control" id="exampleFirstName">
    </div>
    <div class="mb-3">
      <label for="exampleInputLastName" class="form-label">Фамилия</label>
      <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control" id="exampleLastName">
    </div>
    <div class="mb-3">
      <label for="exampleInputAge" class="form-label">Возраст</label>
      <input type="number" [(ngModel)]="user.age" name="age" class="form-control" id="exampleAge">
    </div>
    <div class="mb-3">
      <label for="exampleInputLogin1" class="form-label">Логин</label>
      <input type="text" [(ngModel)]="user.login" name="login" class="form-control" id="exampleInputLogin1">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Почта</label>
      <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="exampleInputEmail1" placeholder="name@example.com">
      <div id="emailHelp" class="form-text">Мы никому не сообщим вашу почту.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" (click)="save()">Зарегистрироваться</button>
  </form>
</div>
